<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true">
        <div class="sidenav-header">DynamicFilter</div>
        <mat-divider></mat-divider>
        <app-sidenav-item [type]="'button'" [iconName]="'view_list'" (clicked)="sidenav.close()" [route]="'items-list'"> Items list
        </app-sidenav-item>
        <app-sidenav-item [type]="'button'" [iconName]="'assistant'" (clicked)="sidenav.close()" [route]="'assistant'"> Assistant
        </app-sidenav-item>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="KMPNavbar">
            <mat-toolbar-row>
                <button class="navbarButton navbarVerticalCenter navbarPullLeft" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="navbarIcon">menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>