.filterElement {
    display: inline-flex;
    margin: 0 1%;
}
.nameInput {
    display: inline-flex;
    margin: 0 1%;
    width: 100%;
}
.nameInputFormField {
    margin: 0 1% 0 0;
    width: 100%;
}