<app-card>
  <form [formGroup]="filterFormGroup">
    <div class="nameInput">
      <mat-form-field
        class="nameInputFormField"
        [formControl]="this.filterFormGroup.get('name')"
      >
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="filterElement" *ngFor="let attribute of attributes">
      <ng-container>
        <mat-form-field>
          <mat-label>{{ attribute.name }}</mat-label>
          <mat-select formControlName="{{ attribute.name }}">
            <mat-option>Unset</mat-option>
            <ng-container
              *ngIf="attribute.type != 2; else boolOptions"
            >
              <mat-option
                *ngFor="let value of attribute.values"
                [value]="value"
              >
                {{ value }}
              </mat-option>
            </ng-container>
            <ng-template #boolOptions>
              <mat-option value="true">Yes</mat-option>
              <mat-option value="false">No</mat-option>
            </ng-template>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
  <mat-chip-list #chipList *ngIf="chips.length > 0">
    <mat-chip
      *ngFor="let chip of chips"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removeChip(chip)"
    >
      {{ chip.value }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</app-card>
