<app-card>
  <form [formGroup]="filterFormGroup">
    <div class="nameInput">
      <mat-form-field
        class="nameInputFormField"
        [formControl]="this.filterFormGroup.get('name')"
      >
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="filterElement" *ngFor="let attribute of attributes">
      <ng-container>
        <mat-form-field
          [formControl]="this.filterFormGroup.get(attribute.name)"
        >
          <mat-label>{{ attribute.name }}</mat-label>
          <mat-select formControlName="{{ attribute.name }}">
            <mat-option>Unset</mat-option>
            <mat-option *ngFor="let value of attribute.values" [value]="value">
              {{ value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
  <mat-chip-list #chipList *ngIf="chips.length > 0">
    <mat-chip
      *ngFor="let chip of chips"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removeChip(chip)"
    >
      {{ chip.value }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</app-card>
